html,
body{
  background-image: image-url('identity.jpg');
  background-size: cover;
  background-position: 50% 0;
}

#back_path{
  position: absolute;
  bottom: 0;
  width: 100%;

  font-size: 1em;

  margin: {
    top: .625em;
    bottom: .375em;
  };

  a{
    display: inline-block;
    padding: .625em {
      bottom: .375em;
    };

    @include highlighted-link;
  }
}
