header{
	margin: 2em 0;

	h1{
		margin: 0;
		padding: 0;

		color: rgba($white, .65);
		font-size: 2em;
	}

	#return{
		h1{
			border-right: 1px solid;
		}
	}
}

nav{
	margin: 2em 0;

	[class*=sections-]{
		@include filter( grayscale(100%) );
		box-shadow: 0 0 1em 0 rgba($background-color, .65) inset;
		border-radius: 1px;

		&:hover,
		&.active{
			@include filter( grayscale(0%) );
		}

		h3{
			@include link-unstyled-title;

      margin: 0;
			padding: 0;

			font-size: 1.5em;
			font-weight: 100;

			border: none;

			text-align: center;

			a{
				display: block;
				padding: 4.25em .5em .25em;
				background-image: -webkit-linear-gradient(top, transparent 4em, rgba($background-color, .65) 4em);

				&:hover{
          opacity: 1;

					background-image: -webkit-linear-gradient(top, transparent 4em, rgba($background-color, .85) 4em);
				}

        [class*=icon-]{
          display: none;
        }
			}
		}
	}

	> .grid:hover{
		[class*=sections-]{
			@include filter( grayscale(100%) );

			&:hover{
				@include filter( grayscale(0%) );
			}
		}
	}
}

@import "sections/*.png";
@include all-sections-sprites;



// #break{
// 	color: $background-color;
// 	background-color: $primary-color;
//
// 	@include box-shadow(
// 		0 1px 3px rgba(black, .3),
// 		0 1px 0 rgba(white, .1) inset
// 	);
//
// 	p{
// 		margin: .5em 1em;
//
//     a{
//         font-weight: bold;
//     }
// 	}
// }






// Side bar layout
/*
body{
  display: flex;
  align-items: stretch;

  > {
    *{
      flex-shrink: 0;
    }

    nav{
      width: 16.5rem;
      padding: 0 .75rem;
      overflow: hidden;
    }

    section{
      width: base-width() * 92;
      flex-grow: 1;
      overflow-y: auto;

      padding: 0 2em 2em;
    }
  }
}
*/
